*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* border: blue solid 1px; */
    width: 85%;
    margin: 0 auto;  
}
/*-------MENU------------*/
.header{
    /*border: red solid 1px;*/
    padding-top: 25px;
    max-height: 150px;
    background-color: white;
    position: fixed;
    width: 85%;
    max-width:1345px;
    margin: 0 auto;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu>a{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #333333;
    padding-left: 35px;
    text-decoration: none;
}

.menu-div-ul{
    /*border: green solid 1px;*/
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    height: 100%; 
    line-height: 86px;
}
.menu-div-ul-li{
    /*border: red solid 1px;*/
    list-style: none;
}
.menu-div-ul-li>a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    color: #333333;
    border-radius: 15px;
}
/* acciones menu*/
.menu-div-ul-li>a:hover{
    background-color: #004BDB;
    color: #fff;
}

/* ---------INICIO------------*/
.inicio{
    /* border: red solid 5px; */
    padding-top:112px ;
    display: flex;
    justify-content: space-between;
}
.inicio-h1{
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    padding: 135px 0px 0px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    color: #004BDB;
}
.inicio-h1-span1{
    /* border: 1px solid rgb(98, 0, 255); */
    color: #333333;
    font-weight: lighter;
    font-size: 35px;
    margin: 0px 0px -15px 0px;
}
.inicio-h1-span2{
    /* border: 1px solid rgb(98, 0, 255); */
    color: #333333;
    font-weight: normal;
    font-size: 20px;
    margin: -15px 0px 0px 0px;
}

/* ---------SOBRE MI--------------- */
.sobre_mi{
    /* border: 5px solid red; */
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;    /*<---*/
    padding-bottom: 170px;
}
h2{
    /* border: 1px solid blue; */
    color: #004BDB;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.sobre_mi-p{
    /* border: 2px solid green; */
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 650px;
    padding-top: 50px;
    line-height: 30px;
    white-space: pre-line;
    color: #333333;
}
/* -------TECNOLOGIAS------- */
.tecnologias{
    /* border: 1px solid red; */
    padding-top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 270px;
}
.tecnologias-div{
    /* border: 1px solid black; */
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.tecnologias-web{
    /* border: 2px blue solid; */
    width: 45%;
    background-color: #C4C4C4;
    border-radius: 15px;
}
.tecnologias-web>span{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #004BDB;
    display: block;
    text-align: center;
}
.tecnologias-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}
.tecnologias-business{
    /* border: 2px rgb(197, 251, 0) solid; */
    width: 45%;
    background-color: #C4C4C4;
    margin-left: 15px;
    border-radius: 15px;
}
.tecnologias-business>span{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #004BDB;
    display: block;
    text-align: center;
}
.tecnologias-web-figure{
    /* border: 2px rgb(0, 204, 255) solid; */
    display: flex;
    flex-direction: column;
}
.tecnologias-web-figure>img{
    /* border: 2px blue solid; */
    width: 70px;
}
.tecnologias-web-figure>span{
    /* border: 2px rgb(255, 0, 0) solid; */
    width: 70px;
}
.name_tec{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}
/*---Portafolio---*/
.portafolio{
    /* border: 5px solid red; */
    padding-top: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;    /*<---*/
    padding-bottom: 170px;
}
.portafolio_div{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
}
.figure{
    /* border: 1px solid green; */
    margin: 0px 25px 0px 25px;
    max-width:  324px;
    height: 300px;
}
.figure_span{
    /* border: 1px solid black; */
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
img:hover{
    transform: scale(1.02) ;
    transition: .3s none;
}
/*---Contacto---*/
.contacto{
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #004BDB;
    height: 400px;
}
.ancla_contacto{
    color: white;
}
.div_social{
    /* border: 2px solid seagreen; */
    width: 70%;
    padding-top: 35px;
}
.figure_social {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*--- Pie de pagina ---*/
footer{
    /* background-color: black; */
    color: white;
}
.footer_span{
    /* border: 2px solid red; */
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.ancla_contacto{
    margin-top: 25px;
}