*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    padding-top: 25px;
    padding-left: 77px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 112px;
    background-color: white;
}
.menu>a{
    color: #333333;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
    font-size: 52px;    
}
.menu{
    width: 100%;    
    display: flex;
    justify-content: space-between;
}
.menu>ul{
    list-style: none;
    line-height: 66px;
    display: flex;
    flex-wrap: wrap;
    
}
.menu>ul>li{
    margin-right: 70px;
    padding: 10px;
    
}
.menu>ul>li>a{
    text-decoration: none;
    justify-content: right;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
main{
    margin-top: 112px;
}
.inicio{
    display: flex;
    justify-content: space-between;  
}
.inicio>h1{
    font-family: 'Acme', sans-serif;
    font-weight: normal;
    color: #004BDB;
    font-weight: bolder;
    font-size: 55px;
    padding-left: 148px;
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 700px;
    justify-content: center;
    line-height: 50px;
    padding-bottom: 190px;
}
.inicio>h1>span{
    font-size: 20px;
    color: #333333;
    margin-top: -8px;
    font-weight: normal;
}
.inicio>h1 :first-child{
    font-size: 35px;
    color: #333333;
}


h2{
    display: block;
    text-align: center;
    font-size: 50px;
    color: #004BDB;
    font-family: 'Poppins', sans-serif;
}
.sobre_mi>p{
    display: block;
    font-size: 30px;
    width: 798px;
    align-content: center;
    margin: auto;
    padding-top: 50px;
    font-family:'Montserrat', sans-serif;
    white-space: pre-line;
}
.habilidades{
    margin-top: 100px;
    height: 515px;
}
.habilidades_content{
    
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 0px 200px;
}

.habilidades_content>figure{
    display: flex;
    flex-direction: column;
    
    width: 65px;
    height: 65px;
    
}
.habilidades_content>figure>img{
    align-items: center;
    width: 65px;
    height: 65px;
}
.habilidades_content>figure>span{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    padding-top: 15px;
}
.portafolio{
    margin-top: 100px;
    height: 700px;
    margin-bottom: 20px;
}
.portafolio>div{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.portafolio>div>figure{
    display: inline-block;
    padding-top: 70px;
    width: 374px;
    
} 
.portafolio>div>figure>span{
    display: flex;
    justify-content: center;
    width: 324px;
    font-family: 'Montserrat', sans-serif;
} 



.contacto>div>div>form>label>span{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-right: 10px;
}

.contacto>div>div>form>label>input{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border:2px #333333 solid;
    height: 35px;
    width: 350px; 
}

.contacto>div>div>form>label{
    display: block;
    padding: 0px 0px 30px 0px;

}
.form-email{
    display: inline-block;
    margin-right: 20px;
}
.contacto>div>div>form>label>textarea{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
    border-radius:  5px;
    border:2px #333333 solid;
    width: 350px;
    height: 200px;
    resize: none;
    overflow: scroll;
}
.div-contacto{
    display: flex;
    justify-content: space-evenly;
    
}
.div-contacto>div{
    border: 2px red solid;
    display: flex;
    align-content: center;

}
.figure {
    display: flex;

    align-items: center;
}
.figure>a>img{
    padding: 0px 10px 0px 10px;
}

#ancla_contacto{
    padding-bottom: 50px;
}

.boton-enviar{
    display: inline-block;
    border: 1px #004BDB solid ;
    background-color: #004BDB;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: white;
    
}